#### Dictionaries - Exercises

In [ ]:
# 1. Create an empty dictionary called dogs
dogs = dict() #creating empty dictionary
dogs

{}

In [ ]:
# 2. Add name, color, breed, legs, age to the dog dictionary
dogs['name'] = 'Bella'
dogs['color'] = 'White'
dogs['breed'] = 'Labrador'
dogs['legs'] = 4
dogs['age'] = 2
print(dogs)

{'name': 'Bella', 'color': 'White', 'breed': 'Labrador', 'legs': 4, 'age': 2}

In [ ]:
# 3. Create a student dictionary and add first_name, last_name, gender, age,
    # marital status, skills, country, city and address as keys for the dictionary
student = {'first_name': 'Sukanya',
          'last_name': 'Raveendran',
           'gender' : 'Female',
           'age' : 31 ,
           'marital_status' : 'Single',
           'skills' : ['Python','java','SQL'],
           'country' : 'India',
           'city': 'Thrissur',
           'address' : 'Machatt House,Pazhuvil(w)'
           }
print(student)

{'first_name': 'Sukanya', 'last_name': 'Raveendran', 'gender': 'Female', 'age': 31, 'marital_status': 'Single', 'skills': ['Python', 'java', 'SQL'], 'country': 'India', 'city': 'Thrissur', 'address': 'Machatt House,Pazhuvil(w)'}

In [ ]:
# 4. Get the length of the student dictionary
print("Length of student dictionary: ",len(student)) #finding length of dictionary student

Length of student dictionary:  8

In [ ]:
# 5. Get the value of skills and check the data type, it should be a list
print(student['skills'])
type(student['skills'])

['Python', 'java', 'SQL']

list

In [ ]:
# 6. Modify the skills values by adding one or two skills
student['skills'].append(['Data Analysis','Communication skills']) #adding more values to the key skills
print(student)

{'first_name': 'Sukanya', 'last_name': 'Raveendran', 'gender': 'Female', 'age': 31, 'marital_status': 'Single', 'skills': ['Python', 'java', 'SQL', ['Data Analysis', 'Communication skills']], 'country': 'India', 'address': 'Thrissur'}

In [ ]:
# 7. Get the dictionary keys as a list
print(list(student.keys())) #retrieving the keys as list

['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'address']

In [ ]:
# 8. Get the dictionary values as a list
print(list(student.values())) #retrieving the values as list

['Sukanya', 'Raveendran', 'Female', 31, 'Single', ['Python', 'java', 'SQL', ['Data Analysis', 'Communication skills']], 'India', 'Thrissur']

In [ ]:
# 9. Change the dictionary to a list of tuples using items() method
print(list(student.items())) # eaxch items retrieved as tuple and the whole tuple converted to list

[('first_name', 'Sukanya'), ('last_name', 'Raveendran'), ('gender', 'Female'), ('age', 31), ('marital_status', 'Single'), ('skills', ['Python', 'java', 'SQL', ['Data Analysis', 'Communication skills']]), ('country', 'India'), ('address', 'Thrissur')]

In [ ]:
# 10. Delete one of the items in the dictionary
deleted = student.pop('marital_status') #deleted the value for the key: marital status
print("Deleted Item : ",deleted)
print("Dictionary\n:",student)

Deleted Item :  Single
Dictionary
: {'first_name': 'Sukanya', 'last_name': 'Raveendran', 'gender': 'Female', 'age': 31, 'skills': ['Python', 'java', 'SQL', ['Data Analysis', 'Communication skills']], 'country': 'India', 'address': 'Thrissur'}

In [ ]:
# 11. Delete one of the dictionaries
del dogs #deleted the entire structure of the dictionary dog
dogs

NameError: name 'dogs' is not defined