In [ ]:
# 1. Declare an empty list
list1 = [] #empty list created

In [ ]:
# 2. Declare a list with more than 5 items
list2 = ["Anu",25,98.5,5+3j,"Apple",False] #list with more than 5 items
print(list2)

['Anu', 25, 98.5, (5+3j), 'Apple', False]

In [ ]:
# 3. Find the length of your list
print(len(list2)) #length of the list is printed

6

In [ ]:
# 4.Get the first item, the middle item and the last item of the list
print(list2[0]) #retrieved first item
print(list2[(len(list2)-1)//2]) #retrieved middle item
print(list2[-1]) #retrieved last item

Anu
98.5
False

In [ ]:
# 5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ["Sukanya",31,155.5,"Single","Thrissur"] #list of mixed datatypes

In [ ]:
# 6. Declare a list variable named it_companies and assign initial values
# Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']

In [ ]:
#7. Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 8. Print the number of companies in the list
print(len(it_companies)) #length of the list named it_companies

7

In [ ]:
# 9. Print the first, middle and last company
print(it_companies[0]) #find first company in the list
print(it_companies[(len(it_companies)-1)//2]) #middle company in the list
print(it_companies[-1]) #last company in the list

Facebook
Apple
Amazon

In [ ]:
# 10. Print the list after modifying one of the companies
it_companies[2] = "Accenture" #modified the company name in second index
print(it_companies)

['Facebook', 'Google', 'Accenture', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 11. Add an IT company to it_companies
it_companies.append("TCS") #added one item to the list
print(it_companies)

['Facebook', 'Google', 'Accenture', 'Apple', 'IBM', 'Oracle', 'Amazon', 'TCS']

In [ ]:
# 12. Insert an IT company in the middle of the companies list
it_companies.insert((len(it_companies)-1)//2,"Wipro") #found the middle index and added one item using insert() method
print(it_companies)

['Facebook', 'Google', 'Accenture', 'Wipro', 'Apple', 'IBM', 'Oracle', 'Amazon', 'TCS']

In [ ]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[3] = it_companies[3].upper() #changed the company name in the third index to uppercase using upper() method
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'APPLE', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 14. Join the it_companies with a string '#;  '
it_companies.append("#; ") #appended a string to the list
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'APPLE', 'IBM', 'Oracle', 'Amazon', '#; ']

In [ ]:
# 15. Check if a certain company exists in the it_companies list.
does_exist = 'Accenture' in it_companies #checking whether Accenture is present in the list
print(does_exist)

True

In [ ]:
# 16. Sort the list using sort() method
it_companies.sort() #Sorted the list in ascending order
print(it_companies)

[' ', '#', ';', 'Accenture', 'Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Oracle', 'TCS', 'WIPRO']

In [ ]:
# 17. Reverse the list in descending order using reverse() method
it_companies.sort(reverse=True) #Sorted the list in descending order
print(it_companies)

['WIPRO', 'TCS', 'Oracle', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon', 'Accenture', ';', '#', ' ']

In [ ]:
# 18. Slice out the first 3 companies from the list
print(it_companies[:3]) #retrievd first three companies (0 to 3, 3 not included)

['WIPRO', 'TCS', 'Oracle']

In [ ]:
# 19. Slice out the last 3 companies from the list
sliced_list =it_companies[-3:len(it_companies)] #retrieved last three companies
print(sliced_list)

[';', '#', ' ']

In [ ]:
# 20. Slice out the middle IT company or companies from the list
print(it_companies[(len(it_companies)-1)//2]) #retrieved the middle company

Facebook

In [ ]:
# 21. Remove the first IT company from the list
del it_companies[0] #deleted first company
print(it_companies)

['TCS', 'Oracle', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon', 'Accenture', ';', '#', ' ']

In [ ]:
# 22. Remove the middle IT company or companies from the list
del it_companies[(len(it_companies)-1)//2] #deleted middle company
print(it_companies)

['TCS', 'Oracle', 'IBM', 'Google', 'Facebook', 'Amazon', 'Accenture', ';', '#', ' ']

In [ ]:
# 23. Remove the last IT company from the list
del it_companies[-1] #deleted last company
print(it_companies)

['TCS', 'Oracle', 'IBM', 'Google', 'Facebook', 'Amazon', 'Accenture', ';', '#']

In [ ]:
# 24. Remove all IT companies from the list
it_companies.clear() #removed all the items using clear() method
print(it_companies)

[]

In [ ]:
# 25. Destroy the IT companies list
del it_companies #deleted the list completely
print(it_companies)

NameError: name 'it_companies' is not defined

In [ ]:
# 26. Join the following lists:
# front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
# back_end = ['Node','Express', 'MongoDB']
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.extend(back_end) #joined both list using extend method
print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [ ]:
# 27. After joining the lists in question 26. Copy the joined list and assign it to a
# variable full_stack, then insert Python and SQL after Redux.
full_stack = front_end.copy() #copied the entire list to full_stack variable

In [ ]:
full_stack.insert(5,["Python","SQL"]) #inserted new list after 'Redux'
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', ['Python', 'SQL'], 'Node', 'Express', 'MongoDB']

#Second Set Assignment

The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [1]:
# Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort() #soretd the ages in ascending order
print(ages)
print(max(ages)) #calculated maximum age
print(min(ages)) #calculated minimum age

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
26
19

In [ ]:
# Add the min age and the max age again to the list
min_age = min(ages)
max_age = max(ages)
ages.extend([min_age,max_age]) #added min and max of ages to the list
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [3]:
# Find the median age (one middle item or two middle items divided by two)
ages.sort() #soretd the list in ascending order
print(ages)
length_ages = len(ages) #length of the list is calculated
if length_ages % 2 != 0 : #check whether length is odd or even , Here odd so only one median value
  median_age = ages[length_ages//2] # found the middle value, which is also the median
else : #length is even so 2 middle items and median is the average of both mid values
  mid_value1 = ages[(length_ages//2)-1] #calculating first mid value
  mid_value2 =ages[length_ages//2] #calculating second mid value
  median_age = (mid_value1 + mid_value2) / 2 #finding median by taking average of both mid values
print("Median of ages: ",median_age)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Median of ages:  24.0

In [4]:
# Find the average age (sum of all items divided by their number )
sum_age = 0 #initialize sum as zero
for i in ages :
  sum_age = sum_age + i #finding total sum using for loop
average_age = sum_age/length_ages #average = sum / total no
print("Sum of ages is : ",sum_age)
print("Average of ages is :",average_age)

Sum of ages is :  228
Average of ages is : 22.8

In [ ]:
# Find the range of the ages (max minus min)
range_age = max(ages) - min(ages) #range of ages is calculated
print("Range of ages is: ",range_age)

Range of ages is:  7

In [ ]:
# Compare the value of (min - average) and (max - average), use abs() method
min_average = abs(min_age - average_age) #absolute difference of min-max age
max_average = abs(max_age - average_age) #absolute difference of max-min age
print("abs(min-average) is : ",min_average)
print("abs(max-average) is: ",max_average)
if  min_average > max_average : #checking which one is greater
  print("Absolute of min-average is greater than absolute of max-average")
else :
  print("Absolute of max-average is greater than absolute of min-average")

abs(min-average) is :  3.75
abs(max-average) is:  3.25
Absolute of min-average is greater than absolute of max-average

In [ ]:
# Find the middle country(ies) in the countries list
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
length_countries = len(countries) #finding total no of countries

if length_countries % 2 != 0 : #check whether total no is even or odd. Here odd so only one mid value
  mid_country = countries[length_countries//2] #finding mid value
  print("Middle country is:",mid_country)
else : # total no is even , so 2 mid values
  mid_country1 = countries[(length_countries//2)-1] #finding first mid value
  mid_country2 = countries[length_countries//2] #finding second mid value
  print("Middle countries are:",mid_country1," ",mid_country2)

Middle country is: Finland

In [ ]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.

if length_countries % 2 == 0 : # check if length is even, here even
  country_list1 = countries[:length_countries//2] # sliced the list to first half (with equal no of items)
  country_list2 = countries[length_countries//2:length_countries] #sliced list to second half
  print("Country list\n",country_list1,"\n",country_list2)
else : #here total length is odd
  country_list1 = countries[:length_countries//2+1] #first half with one more country than second half
  country_list2 = countries[length_countries//2+1:length_countries] #second half
  print("Country list\n",country_list1,"\n",country_list2)

Country list
 ['China', 'Russia', 'USA', 'Finland']
 ['Sweden', 'Norway', 'Denmark', 'India']

In [ ]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the
# first three countries and the rest as scandic countries.

In [ ]:
country_set = countries[:3] #retrieved first three countries
scandic_countries = countries[3:length_countries] #balance countries as scandic country
print("First Three Countries:\n",country_set,"\nScandic countries\n",scandic_countries)

First Three Countries:
 ['China', 'Russia', 'USA']
Scandic countries
 ['Finland', 'Sweden', 'Norway', 'Denmark']