### Sets - Exercises

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [ ]:
# 1. Find the length of the set it_companies
length_itcompanies = len(it_companies) #finding length of the set
print("No of IT companies : ",length_itcompanies)

No of IT companies :  7

In [ ]:
# 2.Add 'Twitter' to it_companies
it_companies.add("Twitter") #adding one more item to the set
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [ ]:
# 3. Insert multiple IT companies at once to the set it_companies
it_companies.update(['Accenture','Infosys','TCS']) #adding two or more items to the set
print(it_companies)

{'Oracle', 'Facebook', 'TCS', 'Google', 'Accenture', 'Infosys', 'IBM', 'Amazon', 'Apple', 'Microsoft', 'Twitter'}

In [ ]:
# 4. Remove one of the companies from the set it_companies
poped_item = it_companies.pop() #removed a random item from the set
print(it_companies)
print("Removed company: ",poped_item)

{'TCS', 'Google', 'Accenture', 'Infosys', 'IBM', 'Amazon', 'Apple', 'Microsoft', 'Twitter'}
Removed company:  Facebook

In [ ]:
# 5. What is the difference between remove and discard
it_companies.remove('Oracle') #raises an error if item is not present in the set
it_companies.discard('Oracle') #not raise error. can not identify whether the item is present or not

KeyError: 'Oracle'

In [ ]:
# 6. Join A and B
A_B = A | B # expression to find A union B
print("Set A: ",A)
print("Set B: ",B)
print("Joined Set: ",A_B)

Set A:  {19, 20, 22, 24, 25, 26}
Set B:  {19, 20, 22, 24, 25, 26, 27, 28}
Joined Set:  {19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 7. Find A intersection B
print("A intersection B: ", A & B) #expression to find A intersection B

A intersection B:  {19, 20, 22, 24, 25, 26}

In [ ]:
# 8. Is A subset of B
if A.issubset(B) : #checking whether A is the subset of B. If So returns true
  print("A is subset of B")
else :
  print("A is not subset of B")

A is subset of B

In [ ]:
# 9. Are A and B disjoint sets
if A.isdisjoint(B) : #checking whether A and B are disjoint sets. If yes, return true
  print("A & B are disjoint sets")
else :
  print("A & B are not disjoint sets")

A & B are not disjoint sets

In [ ]:
# 10. Join A with B and B with A
print("A union B: ", A|B) # A union B
print("B union A: ", B|A) # B union A

A union B:  {19, 20, 22, 24, 25, 26, 27, 28}
B union A:  {19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 11. What is the symmetric difference between A and B
print("Symmetric difference between A and B : ", A^B) # finding symmetric difference between A and B

Symmetric difference between A and B :  {27, 28}

In [ ]:
 # 12. Delete the sets completely
del B #deleted set B completely
del A #deletd set A completely
print(A,B)

NameError: name 'A' is not defined

In [ ]:
# 13. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

age_set = set(age) #converted the list of ages to set
print("Age list: ",age)
print("Age set: ",age_set)
length_list = len(age) #finding length of list
length_set = len(age_set) #finding length of set
print("Length of list: ",length_list)
print("Length of set: ",length_set)
if length_list > length_set : #comparing both length using if condition
  print("Age list is bigger")
else :
  print("Age set is bigger")

Age list:  [22, 19, 24, 25, 26, 24, 25, 24]
Age set:  {19, 22, 24, 25, 26}
Length of list:  8
Length of set:  5
Age list is bigger

In [ ]:
# 14. "I am a teacher and I love to inspire and teach people."
# How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

sentence = "I am a teacher and I love to inspire and teach people." #initialising the sentence as a string
string_list = sentence.split() #splitted each words and stored as list(includes duplicates)
print("String as list\n",string_list)
string_set = set(string_list) #converted the list to set to store unique words
print("String as set\n",string_set)
print("No.of unique words: ",len(string_set)) #finding length of set , which is the number of unique words

String as list
 ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']
String as set
 {'I', 'teach', 'inspire', 'love', 'to', 'people.', 'teacher', 'and', 'am', 'a'}
No.of unique words:  10

In [ ]:
# 15. Explain the difference between the following data types: string, list, tuple and set
#String : Immutable and ordered datastructure which allows duplicates
# List : Mutable and ordered daatstructure which allows duplicates
# Tuple :Immutable and ordered datastructure which allows duplicates
#Set : Mutable and unordered datastructure which do not allow duplicates