### Exercises: Tuples

In [ ]:
# 1. Create an empty tuple
tuple1 = tuple() #empty tuple created using constructor
tuple1

()

In [ ]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
brothers = ('Sreeraj','Ragesh','Rahul') #tuple with brothers name
sisters = ('Nayana','Ayana','Aiswaria') #tuple with sisters name
print("Brothers:",brothers)
print("Sisters:",sisters)

Brothers: ('Sreeraj', 'Ragesh', 'Rahul')
Sisters: ('Nayana', 'Ayana', 'Aiswaria')

In [ ]:
# 3. Join brothers and sisters tuples and assign it to siblings
siblings = brothers + sisters #joining both tuples into sibling tuple
print("Siblings:",siblings)

Siblings: ('Sreeraj', 'Ragesh', 'Rahul', 'Nayana', 'Ayana', 'Aiswaria')

In [ ]:
# 4. How many siblings do you have?
count_siblings = len(siblings) #length of tuple is calculated to find the no.of siblings
print("No.of siblings are: ",count_siblings)

No.of siblings are:  6

In [ ]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members = siblings + ('Raveendran','Bindhu') #added parents with the siblings tuple and stored in family_member tuple
print("Family members: ",family_members)

Family members:  ('Sreeraj', 'Ragesh', 'Rahul', 'Nayana', 'Ayana', 'Aiswaria', 'Raveendran', 'Bindhu')

In [ ]:
# 6. Unpack siblings and parents from family_members

s1,s2,s3,s4,s5,s6,p1,p2 = family_members #unpacking the tuple family members
siblings1 = (s1,s2,s3,s4,s5,s6)
parents1 = (p1,p2)
print("Siblings: ",siblings1)
print("Parents: ",parents1)

Siblings:  ('Sreeraj', 'Ragesh', 'Rahul', 'Nayana', 'Ayana', 'Aiswaria')
Parents:  ('Raveendran', 'Bindhu')

In [ ]:
# 7. Create fruits, vegetables and animal products tuples. Join the three tuples and
# assign it to a variable called food_stuff_tp.
fruits = ('Grapes','Apple','Lemon','Orange')
vegetables = ('Carrot','Beetroot','Tomato')
animal_products = ('Egg','Meat','Milk')
food_stuff_tp = fruits + vegetables + animal_products #joining all the tuples
print("Food stuffs: ",food_stuff_tp)

Food stuffs:  ('Grapes', 'Apple', 'Lemon', 'Orange', 'Carrot', 'Beetroot', 'Tomato', 'Egg', 'Meat', 'Milk')

In [ ]:
# 8. Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_list = list(food_stuff_tp) #converted the tuple into list
print("Food stuffs list: ",food_stuff_list)

Food stuffs list:  ['Grapes', 'Apple', 'Lemon', 'Carrot', 'Beetroot', 'Tomato', 'Egg', 'Meat', 'Milk']

In [ ]:
# 9. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

length_foodstuff = len(food_stuff_tp) #calculated the length of tuple
if length_foodstuff % 2 != 0 : #check whether no of items are even or not
  middle_food = food_stuff_tp[length_foodstuff//2] #no of items are odd, so onli one middle item
  print("Middle food item: ",middle_food)
else : #no of items are even , so 2 middle items
  middle_food = food_stuff_tp[length_foodstuff//2-1] #finding first middle item
  middle_food1 = food_stuff_tp[length_foodstuff//2] #findind second middle item
  print("Middle food items are: ",middle_food," ",middle_food1)

Middle food items are:  Carrot   Beetroot

In [ ]:
# 10.  Slice out the first three items and the last three items from food_staff_lt list
print("First three items: ",food_stuff_tp[0:3]) # sliced first three items from 0 to 3 ( 3 not included)
print("Last three items: ",food_stuff_tp[-3:length_foodstuff]) #sliced last three items

First three items:  ('Grapes', 'Apple', 'Lemon')
Last three items:  ('Egg', 'Meat', 'Milk')

In [ ]:
# 11. Delete the food_staff_tp tuple completely
del food_stuff_tp #deleted the tuple completely
print(food_stuff_tp)

NameError: name 'food_stuff_tp' is not defined

In [ ]:
# 12. Check if an item exists in tuple:
# Check if 'Estonia' is a nordic country
# Check if 'Iceland' is a nordic country
# nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden') #countries list as  tuple
if 'Estonia' in nordic_countries : # check whether Estonia is present in the given tuple
  print("Estonia is a nordic country" )
else :
  print("Estonia is not a nordic country")
if 'Iceland' in nordic_countries :# check whether Iceland is present in the given tuple
  print("Iceland is a nordic country")
else:
  print("Iceland is not a nordic country")

Estonia is not a nordic country
Iceland is a nordic country